# Copyright 2023 Cloudera, Inc. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#      http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

breadcrumbs = true
indexes = true
use_html_blobs = false

collection_url = {
  * = "https://github.com/cloudera-labs/{namespace}.{name}"
}

collection_install = {
  * = "ansible-galaxy collection install {namespace}.{name}"
}

logging_cfg = {
  version = 1.0
  outputs = {
    logfile = {
      output = twiggy.outputs.FileOutput
      args = [
        ./antsibull.log
      ]
    }
    stderr = {
      output = twiggy.outputs.StreamOutput
      format = twiggy.formats.shell_format
    }
  }
  emitters = {
    # Log everything a user might be interested in to a log file.
    all = {
      # DEBUG is the most verbose level
      level = DEBUG
      output_name = logfile
    }
    # Log problems to stderr so they can be reported and taken care of.
    problems = {
      level = WARNING
      output_name = stderr
    }
  }
}
